body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/035/229/528/small_2x/ai-generated-digital-cyberspace-with-particles-and-digital-data-network-connections-high-speed-connection-and-data-analysis-technology-digital-abstract-background-concept-3d-rendering-photo.jpg");
    background-size: cover;
    background-color: #cccccc;
   }
   .header-white {
    color: white;
}

