<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
    Ranking
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('rank.static', filename='style.css') }}">
    <div class="container text-center">
        <h2>Ranking</h2>
        <p>Users ranked by their total profit:</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Username</th>
                    <th>Total Value</th>
                </tr>
            </thead>
            <tbody>
                {% for user in rankings %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ user.username }}</td>
                        <td>RM{{ "%.2f"|format(user.total_value) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
