<!DOCTYPE html>
{% include "navbar.html" %}

{% block title %}
    Sell
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('trade.static', filename='style.css') }}">
<body class="buy-background">
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Sell Stock</h2>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('trade.sell') }}" method="post">
                        <div class="form-group">
                            <label for="inputSymbol">Symbol</label>
                            <select id="inputSymbol" class="form-control" name="symbol" required>
                                <option selected disabled>Select Symbol</option>
                                {% for stk in stock %}
                                    <option value="{{ stk.symbol }}">{{ stk.symbol }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputNumber">Shares</label>
                            <input type="number" id="inputNumber" name="shares" autocomplete="off" class="form-control" placeholder="Enter Number of Shares" min="1" required>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-lg btn-primary" type="submit">Sell</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
